<!--Embedding The User and Config Object-->
<script type="text/javascript">
	var user = <%- safeJSON(user) %>;
	var config = <%- safeJSON(config) %>;

	// set up the prerender flag
	window.isPrerender = <%- safeJSON(isPrerender) %>;
</script>

<!--Load The Socket.io File-->
<script type="text/javascript"
    src="/socket.io/socket.io.js"></script>

<script async="true"
    src="https://pol.is/embed.js"></script>

<!--Application JavaScript Files-->
<% jsFiles.forEach(function(file) {%>
	<script type="text/javascript"
	    src="<%=file%>"></script>
<% }); %>

<script>
	window.prerenderReady = true;
</script>

<!--Livereload script rendered -->
<% if (livereload) {%>
<script type="text/javascript"
src="<%=host%>:35729/livereload.js"></script>
<% } %>
