<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ vm.title }}"></update-title>
<update-meta name="description"
    content="{{ vm.desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title"
    content="{{ vm.title }}"></update-meta>
<update-meta property="og:description"
    content="{{ vm.desc }}"></update-meta>
<update-meta property="og:url"
    use-abs-url="true"></update-meta>
<update-meta property="og:image"
    content="{{ vm.image }}"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title"
    content="{{ vm.title }}"></update-meta>
<update-meta name="twitter:description"
    content="{{ vm.desc }}"></update-meta>
<update-meta name="twitter:url"
    use-abs-url="true"></update-meta>
<update-meta name="twitter:image"
    content="{{ vm.image }}"></update-meta>

<div layout-padding
    layout="column"
    flex
    flex-offset-lg="15"
    flex-lg="70"
    flex-offset-xl="25"
    flex-xl="50"
    layout-padding
    layout-align="top center">

	<md-input-container>
		<label>Endorsement Title</label>
		<input ng-model="vm.endorsement.title">
	</md-input-container>

	<img ngf-thumbnail="vm.imageFile || vm.endorsement.imageUrl">
	<md-button class="md-primary md-raised"
	    ngf-select
	    ng-model="vm.imageFile"
	    name="file"
	    ngf-pattern="'image/*'"
	    ngf-accept="'image/*'"
	    ngf-max-size="20MB">Select Image</md-button>

	<md-input-container>
		<label>Organisation Name</label>
		<input ng-model="vm.endorsement.organisationName">
	</md-input-container>

	<md-input-container>
		<label>Organisation Website</label>
		<input ng-model="vm.endorsement.organisationWebsite">
	</md-input-container>

	<md-input-container>
		<label>Summary</label>
		<textarea
			ng-model="vm.endorsement.description"
			md-maxlength="250"
			rows="3"
			md-select-on-focus></textarea>
		<span class="md-caption">Hint: The summary is a general introduction to the Issue (which will be a wiki, eventually). Written for an audience of people that don’t know about politics. The tone is simple, clear, friendly and authoritative (like Wikipedia, in fact, we should emulate Wikipedia’s core pillars). Include links to sources (feel free to use Wikipedia as a source of this information). Aim for 250 words max.</span>
	</md-input-container>

	<md-contact-chips ng-model="vm.endorsement.issues"
	    md-contacts="vm.searchIssues($query)"
	    md-contact-name="name"
	    md-require-match="true"
	    md-highlight-flags="i"
	    md-delay="400"
	    placeholder="Linked Issues"
	    secondary-placeholder="Add another issue">
	</md-contact-chips>

	<md-contact-chips ng-model="vm.endorsement.solutions"
	    md-contacts="vm.searchSolutions($query)"
	    md-contact-name="title"
	    md-require-match="true"
	    md-highlight-flags="i"
	    md-delay="400"
	    placeholder="Linked Solutions"
	    secondary-placeholder="Add another solution">
	</md-contact-chips>

	<div layout="row">
		<md-button class="md-raised md-primary"
		    ng-click="vm.createOrUpdate()">
			<span ng-if="vm.endorsement._id">Update</span>
			<span ng-if="!vm.endorsement._id">Create</span>
		</md-button>
		<md-button class="md-raised md-warn"
		    ng-if="vm.endorsement._id"
		    ng-click="vm.delete()">
			Delete
		</md-button>
	</div>
</div>
