<div layout="column"
    ng-if="vm.endorsements && vm.endorsements.length > 0">

	<div layout="row">
		<div ng-repeat="endorsement in vm.endorsements"
		    class="endorser-badge">
			<div class="endorser-image-wrapper">
				<md-tooltip>{{endorsement.description}}</md-tooltip>
				<div class="endorser-image" style="background-image: url({{endorsement.imageUrl}})"></div>
				<!-- <img class='endorser-image'
				    ng-src="{{::endorsement.imageUrl}}"
				    alt="Endorsement Image" /> -->
			</div>

			<div ng-if=" (authentication.user) && (authentication.user.roles.indexOf('admin')>-1 || authentication.user._id === endorsement.user._id)"
			    layout-align="center center">
				<!-- <md-button class="md-icon-button"
					ng-click="vm.delete(endorsement)">
					<md-tooltip>Delete Endorsement</md-tooltip>
					<md-icon>delete</md-icon>
				</md-button> -->
				<md-button class="md-icon-button"
				    ui-sref="endorsement.edit({endorsementId: endorsement._id, previousObjectId: vm.objectId, objectType: vm.objectType})">
					<md-tooltip>Edit Endorsement</md-tooltip>
					<md-icon>edit</md-icon>
				</md-button>
			</div>
		</div>
	</div>
</div>
