<!-- Meta tags -->
<!-- Basic meta tags -->
<update-title title="{{ title }}"></update-title>
<update-meta name="description"
    content="{{ desc }}"></update-meta>

<!-- Facebook META -->
<update-meta property="og:title"
    content="{{ title }}"></update-meta>
<update-meta property="og:description"
    content="{{ desc }}"></update-meta>
<update-meta property="og:url"
    use-abs-url="true"></update-meta>

<!-- Twitter META -->
<update-meta name="twitter:title"
    content="{{ title }}"></update-meta>
<update-meta name="twitter:description"
    content="{{ desc }}"></update-meta>
<update-meta name="twitter:url"
    use-abs-url="true"></update-meta>



<div class="home-container">

	<div class="home-search-banner"
	    layout="column"
	    layout-align="center center">
		<div class="banner-logo-wrapper">
			<h1 class="title-text">
				<img src="modules/core/client/img/brand/logo.png"
					height="300px"
					alt="UQ Votes"
					tour-step="home.step.0"
					tour-step-belongs-to="homeTour"
				    tour-step-title="Main Menu"
				    tour-step-content="Navigate the site using this menu."
				    tour-step-order="0"
				    tour-step-placement="right"/>
	    	</h1>
			<h2 class="title-text">Sign up and be heard</h2>
			<div>
				<a layout-padding
				    class=""
				    ng-if="!authentication.user"
				    ui-sref="authentication.signup"
				    layout="row"
				    layout-align="center center">
					<img src="modules/core/client/img/join.png" width="200px" height="auto"/>
				</a>
			</div>
		</div>
	</div>

	<md-content>
		<div class="md-toolbar transparent"
		    flex="90"
		    flex-offset="5">
			<h2 class="md-display-1">Recent Issues</h2>
		</div>
		<div class="carousel-container"
		    layout="row"
		    layout-align="center center">
			<ui-carousel ng-if="showCarousel"
			    flex="90"
			    slides="vm.issues"
			    slides-to-scroll="1"
			    autoplay="false"
			    dots="false"
			    arrows="true">

				<carousel-item>
					<md-card ui-sref="issues.view({ issueId: item._id })">
						<img ng-src="{{item.imageUrl}}"
						    class="md-card-image"
						    alt="{{item.title}}">
						<md-card-title>
							<md-card-title-text ng-init="limit = 25"
							    layout="row">
								<span class="md-headline"
								    ng-bind-html="item.name | limitTo : limit"></span>
								<span class="md-headline"
								    ng-show="item.name.length > limit">...</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content ng-bind-html="item.description | limitTo: 200"></md-card-content>
						<md-card-actions layout="row"
						    layout-align="start center">
							<button class="md-raised md-primary md-button md-ink-ripple"
							    type="button"
							    ui-sref="issues.view({ issueId: item._id })">Learn More<div class="md-ripple-container" style=""></div></button>
						</md-card-actions>
					</md-card>
				</carousel-item>
			</ui-carousel>
		</div>
	</md-content>

	<div class="md-toolbar transparent"
		flex="90"
		flex-offset="5">
		<h2 class="md-display-1">FAQ</h2>
	</div>

	<div class=""
	    flex="90"
	    flex-offset="5">

		<accordion title="What is UQ Votes?"
		    description="A democracy app: Building a bridge between you and your student representatives.<br />We are not radical, and we are not undermining representative democracy at UQ. In fact, the opposite is true - we want to make representative democracy more representative.<br />">
		</accordion>
		<accordion title="Why does UQ Votes exist?"
		    description="Democracy at the UQ is at a crossroads. <br /> Only 28% of UQ students voted at the last UQ Union (UQU) elections. In the recent past, we have seen egregious breaches of democratic principles. <br /> The UQU system of democracy mirrors the representative system of the Australian governments. That is, we vote for political candidates once every year, but have no real say on the issues in-between elections. <br /> This failure to listen has led to students feeling disconnected, disillusioned and disengaged from political discourse. <br /> Students need to be informed, engaged and empowered for democracy at UQ to truly work. <br />">
		</accordion>
		<accordion title="How do I use UQ Votes?"
		    description="Coming Soon...">
		</accordion>
		<accordion title="What is NewVote?"
		    description="We are an education and research focused, nonpartisan, nonprofit, and  financially sustainable registered charity. <br />
		 Our board of directors is fiercely independent and broadly representative of the political spectrum. <br /> We are based at UQ iLab and have the support of Richard Devetak, the Head of the UQ School of Political Science and International Studies.<br /> Our purpose is to advance education and enhance democracy.<br /> Our mission is to break down the barriers that impede participation in political discourse.<br />">
		</accordion>
		<accordion title="What is the UQ Union Election?"
		    description="Each year the UQ Union holds an election where students can vote for various positions in the Union, Union Council and on certain committees and boards. These positions are held by students for the year following the election.">
		</accordion>
		<accordion title="How do I vote at the UQ Union Election?"
		    description="When you go to vote, you will receive three ballot papers.
		<ul>
			<li>The Executive Ballot Paper includes the student executive positions like Union President as well as other Office Bearers and positions on committees.</li>
			<li>The Union Newspaper Editor Ballot is where you can vote for the team who will put together Semper Floreat.</li>
			<li>Council Ballot Paper is where you can vote for a student from your faculty to represent you at meetings of Union Council.</li>
		</ul>
		The easiest way to vote is to head down to a polling booth with your student ID card at one of the times and locations listed below. If you have any questions or are unsure of what to do, the friendly polling clerks will be able to help you with the process.">
		</accordion>
		<accordion title="When do I vote at the UQ Union Election?"
		    description="During the week starting Tuesday 2 October 2018, the parties and candidates who have nominated to run for positions at UQ Union will campaign throughout the UQ campuses. <br /> The polls open on Monday 8 October 2018 and close on Friday 12 October 2018.<br />">
		</accordion>
		<accordion title="Why should I vote at the UQ Union Election?"
		    description="Voting is optional but it is the one formal chance you have in the year to decide who you want representing you - you also happen to get a $5 voucher for use at the UQ Union refectories. <br />">
		</accordion>
		<accordion title="Who should I vote for at the UQ Union Election?"
		    description="We can't tell you that, but UQ Votes is here to help you decide how you could vote by providing you with information on the issues and the parties... So, what issues matter to you?<br />">
		</accordion>
	</div>

	<md-content>
		<div class="md-toolbar transparent"
		    flex="90"
		    flex-offset="5">
			<h2 class="md-display-1">Discussion Topics</h2>
		</div>
		<div class="carousel-container"
		    layout="row"
		    layout-align="center center">
			<ui-carousel ng-if="showCarousel"
			    flex="90"
			    slides="vm.topics"
			    slides-to-scroll="1"
			    autoplay="false"
			    dots="false"
			    arrows="true">

				<carousel-item>
					<md-card ui-sref="topics.view({ topicId: item._id })">
						<img ng-src="{{item.imageUrl}}"
						    class="md-card-image"
						    alt="{{item.title}}">
						<md-card-title>
							<md-card-title-text ng-init="limit = 25"
							    layout="row">
								<span class="md-headline"
								    ng-bind-html="item.name | limitTo : limit"></span>
								<span class="md-headline"
								    ng-show="item.name.length > limit">...</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content ng-bind-html="item.description | limitTo: 200"></md-card-content>
						<md-card-actions layout="row"
						    layout-align="start center">
							<button class="md-raised md-primary md-button md-ink-ripple"
							    type="button"
							    ui-sref="topics.view({ topicId: item._id })">Learn More<div class="md-ripple-container" style=""></div></button>
						</md-card-actions>
					</md-card>
				</carousel-item>
			</ui-carousel>
		</div>
	</md-content>
</div>
