<div>
	<div layout="row"
	    layout-align="center">
		<a ui-sref="home"
		    layout-padding>
            <img class="logo" src="modules/core/client/img/brand/logo.png">
        </a>
	</div>
	<md-list class="left-menu"
	    ng-click="vm.tapSidenav()">

		<md-list-item ui-sref="home"
		    ui-sref-active="active">
			<p class="item-content">Home</p>
		</md-list-item>
		<md-list-item ui-sref="parties"
		    ui-sref-active="active">
			<p class="item-content">Party Profiles</p>
		</md-list-item>
		<div layout-padding></div>
		<!-- <md-divider></md-divider> -->
		<div layout-padding></div>
		<div tour-step="home.step.menu"
		    tour-step-belongs-to="homeTour"
		    tour-step-title="Topics, Issues, Goals and Solutions"
		    tour-step-content="Vote on the topics, issues, goals and solutions that matter to you the most."
		    tour-step-order="20"
		    tour-step-placement="bottom"
			tour-step-scroll-into-view="true"
			tour-step-on-next="vm.tourNavigateAndWait('issues.list', 'home.step.issues')">
			<md-list-item ui-sref="topics.list"
			    ui-sref-active="active">
				<p class="item-content">Topics</p>
			</md-list-item>

			<md-list-item ui-sref="issues.list"
			    ui-sref-active="active">
				<p class="item-content">Issues</p>
			</md-list-item>

			<md-list-item class=""
			    ui-sref="goals.list"
			    ui-sref-active="active">
				<p class="item-content">Goals</p>
			</md-list-item>

			<md-list-item class=""
			    ui-sref="solutions.list"
			    ui-sref-active="active">
				<p class="item-content">Solutions</p>
			</md-list-item>
		</div>

		<div layout-padding></div>

		<div layout-padding></div>
		<md-list-item href="https://newvote.org.au" target="_blank"
		    ui-sref-active="active">
			<p class="item-content">About Newvote</p>
		</md-list-item>
		<md-list-item ui-sref="help"
		    ui-sref-active="active">
			<p class="item-content">Help</p>
		</md-list-item>
	</md-list>
</div>
