<section ng-controller="PasswordController"
    layout="column"
    layout-align="center center"
    layout-fill>

	<!-- Basic meta tags -->
	<update-title title="{{ title }}"></update-title>

	<md-card md-theme-watch>
		<form name="resetPasswordForm"
		    ng-submit="resetUserPassword(resetPasswordForm.$valid)"
		    class="signin form-horizontal"
		    novalidate
		    autocomplete="off">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Reset Password</span>
					<alert type="danger"
					    ng-show="error"
					    class="text-center text-danger">
						<span ng-bind="error"></span>
					</alert>
					<md-input-container class="md-block"
					    flex-gt-sm>
						<label>Password</label>
						<input type="password"
						    id="newPassword"
						    name="newPassword"
						    class="form-control"
						    ng-model="passwordDetails.newPassword"
						    autocomplete="new-password"
						    popover="{{popoverMsg}}"
						    popover-trigger="focus"
						    popover-placement="top"
						    password-validator
						    required>

						<div ng-messages="resetPasswordForm.newPassword.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="requirements">{{passwordErrors[0]}}</div>
						</div>
					</md-input-container>

					<md-input-container class="md-block"
					    flex-gt-sm>
						<label>Verify Password</label>
						<input type="password"
						    id="verifyPassword"
						    name="verifyPassword"
						    class="form-control"
						    ng-model="passwordDetails.verifyPassword"
						    password-verify="passwordDetails.newPassword"
						    required>
						<div ng-messages="resetPasswordForm.newPassword.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="passwordVerify">{{passwordErrors[0]}}</div>
						</div>
					</md-input-container>
					<div ng-show="error"
					    class="text-center text-danger">
						<strong ng-bind="error"></strong>
					</div>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row"
			    layout-align="end center">
				<md-button type="submit"
				    class="md-raised md-primary"
				    ng-disabled="userForm.$invalid">Reset</md-button>
			</md-card-actions>
		</form>
	</md-card>
</section>
