<div ng-controller="AuthenticationController"
    layout="column"
    layout-align="center center"
    layout-fill>

	<!-- Meta tags -->
	<!-- Basic meta tags -->
	<update-title title="{{ title }}"></update-title>

	<!-- Facebook META -->
	<update-meta property="og:title"
	    content="{{ title }}"></update-meta>
	<update-meta property="og:url"
	    use-abs-url="true"></update-meta>

	<!-- Twitter META -->
	<update-meta name="twitter:title"
	    content="{{ title }}"></update-meta>
	<update-meta name="twitter:url"
	    use-abs-url="true"></update-meta>

	<md-card md-theme-watch>
		<form name="userForm"
		    ng-submit="signup(userForm.$valid)"
		    class="signin"
		    autocomplete="off">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Sign Up</span>
					<alert type="danger"
					    ng-show="error"
					    class="text-center text-danger">
						<span ng-bind="error"></span>
					</alert>
					<md-input-container class="md-block"
					    flex-gt-sm>
						<label>E-mail</label>
						<input required
						    lowercase
							pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(uqconnect|uq)\.(edu|net)\.au$"
						    type="email"
						    ng-model="credentials.email"
						    name="email">
						<span class="md-subhead">Please use your UQ E-mail address</span>
						<div ng-messages="userForm.email.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="email">Email address is invalid.</div>
							<div ng-message="pattern">Please use a valid UQ e-mail address.</div>
						</div>
					</md-input-container>

					<md-input-container class="md-block"
					    flex-gt-sm>
						<label>Password</label>
						<input required
						    password-validate
						    type="password"
						    ng-model="credentials.password"
						    name="password"
						    popover="{{popoverMsg}}"
						    popover-trigger="focus"
						    popover-placement="top"
						    password-validator>
						<div ng-messages="userForm.password.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="passwordVerify">{{passwordErrors[0]}}</div>
						</div>
					</md-input-container>

					<md-input-container>
						<div vc-recaptcha
						    theme="'light'"
						    key="recaptchaKey"
						    on-create="setWidgetId(widgetId)"
						    on-success="setResponse(response)"
						    on-expire="cbExpiration()"></div>
					</md-input-container>

					<md-input-container class="md-block"
						flex-gt-sm>
						<md-checkbox ng-model="credentials.terms"
							aria-label="I accept the terms and conditions"
							required
							name="terms">
							I accept the <a href="#">Terms and Conditions</a> and have viewed the <a target="_blank"
								href="privacy">Privacy Policy</a>
						</md-checkbox>

						<div ng-messages="userForm.terms.$error"
							md-auto-hide="true">
							<div ng-message="required">
								You must accept the terms of service before you can proceed.
							</div>
						</div>
					</md-input-container>

					<div ng-show="error"
					    class="text-center text-danger">
						<strong ng-bind="error"></strong>
					</div>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row"
			    layout-align="end center">
				<md-button type="submit"
				    class="md-raised md-primary"
				    ng-disabled="userForm.$invalid">Sign Up</md-button>
			</md-card-actions>
		</form>
	</md-card>
</div>
