<div ng-controller="AuthenticationController"
    layout="column"
    layout-align="center center"
    layout-fill>
	<md-card md-theme-watch>
		<form name="userForm"
		    ng-submit="signin(userForm.$valid)"
		    class="signin"
		    novalidate
		    autocomplete="off">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Sign In</span>
					<!-- <span class="md-subhead">Please use your student E-mail address</span> -->
					<alert type="danger"
					    ng-show="error"
					    class="text-center text-danger">
						<span ng-bind="error"></span>
					</alert>
					<div>
						<!-- pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(uqconnect|uq)\.(edu|net)\.au$" -->
						<md-input-container class="md-block"
						    flex-gt-sm>
							<label>E-mail</label>
							<input required
							    ng-model="credentials.email"
							    type="email"
							    id="email"
							    name="email">
							<span class="md-subhead">Please use your UQ E-mail address</span>
							<div ng-messages="userForm.email.$error">
								<div ng-message="required">This is required.</div>
								<div ng-message="email">Email address is invalid.</div>
								<div ng-message="pattern">Please use a valid UQ e-mail address.</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block"
						    flex-gt-sm>
							<label>Password</label>
							<input required
							    ng-model="credentials.password"
							    type="password"
							    id="password"
							    name="password">
							<div ng-messages="userForm.password.$error">
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
					</div>

					<div class="text-center forgot-password">
						<a ui-sref="password.forgot">Forgot your password?</a>
					</div>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row"
			    layout-align="end center">
				<md-button ui-sref="authentication.signup"
				class="">Sign Up</md-button>
				<md-button type="submit"
				    class="md-raised md-primary">Sign In</md-button>
			</md-card-actions>
		</form>
	</md-card>
</div>
